<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/USER/Desktop/DnsProject">
        <classes>
            <class name="pageObject.MainTest"></class>
            <class name="pageObject.PageHeaderTest"></class>
            <class name="pageObject.PageHeaderTwoLineTest"></class>
            <class name="pageObject.FooterTest"></class>
        </classes>
    </test>
</suite>